{% extends 'lms/layout.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Home' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/landing.css' %}"/>

{% endblock %}

{% block content %}

    {% include 'lms/dashboard/includes/loader.html' %}

    <div class="page-header-wrapper">
        <div class="page-header-bg-pattern-holder">
            <div class="bg-pattern-top"></div>
            <div class="bg-pattern-bottom"></div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark top-nav-collapse">
            <div class="container">
                <a class="navbar-brand" href="/"><img
                        src="{% static 'assets/images/logo-white.svg' %}"
                        alt="logo" class="logo-lg"> </a>
                <button class="navbar-toggler rounded" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="navbar-collapse collapse show" id="navbarTogglerDemo01" style="">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-start">
                        <li class="nav-item px-1"><a class="nav-link" target="_blank"
                                                     href="dashboard/index.html">Dashboard</a>
                        </li>
                        <li class="nav-item px-1"><a class="nav-link" target="_blank" href="elements/bc_alert.html">Components</a>
                        </li>
                        <li class="nav-item px-1"><a class="nav-link"
                                                     href="https://codedthemes.gitbook.io/dashboardkit-bootstrap/"
                                                     target="_blank">Documentation</a></li>
                        <li class="nav-item px-1 dropdown"><a
                                class="nav-link dropdown-toggle arrow-none d-inline-flex align-items-center"
                                data-bs-toggle="dropdown" href="#">Live Preview <i class="ti ti-chevron-down"></i></a>
                            <div class="dropdown-menu drp-technology nav-drp-tech-scrollble"><a
                                    class="dropdown-item gap-2" href="dashboard/index.html" target="_blank"><img
                                    src="{% static 'assets/images/landing/tech-bootstrap.svg' %}"
                                    class="img-fluid wid-30">
                                Bootstrap</a> <a class="dropdown-item gap-2"
                                                 href="https://dashboardkit.io/react/default/dashboard/sales"
                                                 target="_blank"><img
                                    src="{% static 'assets/images/landing/tech-react.svg' %}"
                                    class="img-fluid wid-30"> React</a></div>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 align-items-start">
                        <li class="nav-item ms-2"><a
                                href="https://codedthemes.com/item/dashboardkit-bootstrap-5-admin-template/"
                                target="_blank" class="btn btn-primary">Get Dashboardkit <i
                                class="ph-duotone ph-arrow-square-out"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav><!-- [ Nav ] start -->
        <div class="page-heading-holder">
            <div class="container text-center">
                <h1 class="page-heading mb-3">Welcome to Our Knowledge Base</h1>

                <div class="page-heading-sub single-col-max mx-auto">
                    <div class="help-search-intro">
                        Find articles and resources to help with your questions.
                    </div>
                </div>
            </div>

        </div><!--//page-heading-holder-->
    </div><!--//page-header-wrapper-->
    <section class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-9 title"><h2>Top <span>Features</span></h2>
                    <p class="m-0">Quickly create your stunning backend project with DashboardKit</p></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card border-0 shadow-none">
                        <div class="card-body">
                            <div class="avtar bg-primary bg-opacity-10"><i
                                    class="material-icons-two-tone text-primary f-24">file_copy</i></div>
                            <h4 class="my-2 my-md-4 fw-bold">200+ Pages</h4>
                            <p class="mb-0 text-muted">Cover almost all possible page which required for any backend
                                application.</p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card border-0 shadow-none">
                        <div class="card-body">
                            <div class="avtar bg-primary bg-opacity-10"><i
                                    class="material-icons-two-tone text-primary f-24">palette</i></div>
                            <h4 class="my-2 my-md-4 fw-bold">Professional Design</h4>
                            <p class="mb-0 text-muted">DashboardKit design gives your user better UI experience throught
                                out the project.</p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card border-0 shadow-none">
                        <div class="card-body">
                            <div class="avtar bg-primary bg-opacity-10"><i
                                    class="material-icons-two-tone text-primary f-24">speed</i></div>
                            <h4 class="my-2 my-md-4 fw-bold">High Performance</h4>
                            <p class="mb-0 text-muted">High optimized tested code which gives faster loading
                                experience.</p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card border-0 shadow-none">
                        <div class="card-body">
                            <div class="avtar bg-primary bg-opacity-10"><i
                                    class="material-icons-two-tone text-primary f-24">update</i></div>
                            <h4 class="my-2 my-md-4 fw-bold">Regular Updates</h4>
                            <p class="mb-0 text-muted">Promise to always updated with latest tech. Check out future
                                roadmap.</p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card border-0 shadow-none">
                        <div class="card-body">
                            <div class="avtar bg-primary bg-opacity-10"><i
                                    class="material-icons-two-tone text-primary f-24">support_agent</i></div>
                            <h4 class="my-2 my-md-4 fw-bold">Support</h4>
                            <p class="mb-0 text-muted">Support first. Low turn around time to get resolve your techincal
                                query.</p></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card border-0 shadow-none">
                        <div class="card-body">
                            <div class="avtar bg-primary bg-opacity-10"><i
                                    class="material-icons-two-tone text-primary f-24">menu_book</i></div>
                            <h4 class="my-2 my-md-4 fw-bold">Easy Documentation</h4>
                            <p class="mb-0 text-muted">Installation, Configuration settings, How-to documentation
                                guide.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="dashboard-info-section"><!-- [ Nav ] start -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 header-content">
                    <div class="badge bg-white bg-opacity-10 rounded-pill text-lg px-3 py-2 border border-white border-opacity-25 mb-2 d-inline-flex align-items-center gap-2 lh-1">
                        <i class="ti ti-bulb text-warning text-xl"></i> Free &amp; Premium
                    </div>
                    <h1 class="text-white mb-3 lh-base">DashboardKit Admin Template</h1>
                    <p class="text-white f-16 mb-3 lh-lg">A Dashboard Template to accelerate web development with a
                        stunning design and tones of powerful pre-built of UI components, elements, widgets, charts and
                        pages.</p>
                    <p></p>
                    <p class="text-white text-opacity-50 f-16 mb-2 lh-lg">DashboardKit available with</p><a
                        class="d-inline-block me-3 text-center" href="dashboard/index.html" target="_blank"><img
                        src="{% static 'assets/images/landing/tech-bootstrap.svg' %}" class="img-fluid wid-40">
                    <p class="text-white">Bootstrap</p></a><a class="d-inline-block text-center"
                                                              href="https://dashboardkit.io/react/default/dashboard/sales"
                                                              target="_blank"><img
                        src="{% static 'assets/images/landing/tech-react.svg' %}" class="img-fluid wid-40">
                    <p class="text-white">React</p></a>
                    <div class="mt-4"><a href="dashboard/index.html" class="btn btn-outline-primary me-2">Preview</a> <a
                            href="https://codedthemes.com/item/dashboardkit-bootstrap-5-admin-template/" target="_blank"
                            class="btn btn-primary">Buy Now</a></div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div>
                        <img src="{% static 'assets/images/landing/dashboardkit-bootstrap-admin-template.jpg' %}"
                             alt="img"
                             class="img-fluid img-header">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="countries-map" class="position-relative">
        <div class="container">

            <div class="row">
                <div class="col-md-4 m-0 p-0">
                    <div class="row">
                        <ul class="list-group countries-list">
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 m-0 p-0">
                    <div id="map-container">
                        <div class="map-wrapper">
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="programs-list" class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Explore our programs</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for program in programs %}

                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-topic text-center mb-30">
                                <div class="topic-img">
                                    <img src="{{ program.thumbnail.url }}"
                                         alt="">
                                    <div class="topic-content-box">
                                        <div class="topic-content">
                                            <h3><a href="#">{{ program.title }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="assets/img/gallery/topic2.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programing</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="assets/img/gallery/topic3.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programing</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="assets/img/gallery/topic4.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programing</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="assets/img/gallery/topic5.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programing</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="assets/img/gallery/topic6.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programing</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="assets/img/gallery/topic7.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programing</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="assets/img/gallery/topic8.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programing</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <div id="js-config-data" style="display: none;">
        {{ countryZones|json_script:"zones" }}
        {{ countryZonesPath|json_script:"zonesPath" }}
    </div>
    <script src="{% static 'js/landing.js' %}"></script>
    <style>
    </style>
{% endblock %}