{% extends 'lms/dashboard/layouts/layout.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    {% include 'lms/dashboard/includes/loader.html' %}

    <div class="auth-main v1">
        <div class="bg-overlay bg-primary"></div>
        <div class="auth-wrapper">
            <div class="auth-form">
                <div class="card my-5">
                    <div class="card-body">
                        <img src="{% static 'assets/images/logo-dark.svg' %}" alt="" class="img-fluid mb-4 img-logo"/>
                        <h4 class="mb-3 f-w-400">{{ shop_name }}</h4>

                        <form method="post" novalidate id="dashboard_login_form">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {% trans "Please enter a correct username and password. Note that both fields may be case-sensitive." %}
                                </div>
                            {% endif %}

                            <div class="input-group mb-3">
                                <span class="input-group-text"><i data-feather="user"></i></span>
                                {% render_field form.username class="form-control" placeholder="Username" %}
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-text"><i data-feather="lock"></i></span>
                                {% render_field form.password class="form-control" placeholder="Password" %}
                            </div>

                            <div class="mb-3 mt-2">
                                <div class="form-check text-start">
                                    <input class="form-check-input" type="checkbox" id="flexCheckChecked"
                                           name="newsletter" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        {% trans "Send me the" %} <a
                                            href="#!">{% trans "Newsletter" %}</a> {% trans "weekly." %}
                                    </label>
                                </div>
                            </div>

                            <input type="hidden" name="next" value="{{ next }}">
                            <button type="submit" class="btn btn-primary btn-block mb-4">{% trans "Login" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}