{% extends "lms/dashboard/pages/items/items-list.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {{ block.super }}
    <div id="add-new-question-form-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myAddFormModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="myAddFormModalLabel">Large Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {#                    {% crispy form %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        window.server_conf.items_list = {
            tableId: "{{ table.table_id }}",
            currentQuestionGroupId: "{{ group.id }}",
            add: {
                apiUrl: "{% url 'dashboard:quiz-question-create-api' %}",
            }
        };
    </script>
    {% include 'lms/dashboard/includes/items-list/scripts.html' %}
    <script>
        $(document).ready(function () {
            const question_group_param_key = "question_group_id";
            window.managers.checkManager("itemsListTable");
            window.managers.itemsListTable = new ItemListTable();
            window.managers.itemsListTable.init();
            const addFormModalEl = $("#add-new-question-form-modal");
            $('.add-new-item-btn').click(function () {
                addFormModalEl.modal("show");
            });
            window.managers.checkManager("questionEditor");
            window.managers.questionEditor = new QuestionFormManager({
                holder: $("#add-new-question-form-modal"),
                question: {
                    id: window.server_conf.
                }
            });
            addFormModalEl.find("form").on("submit", function (e) {
                e.preventDefault();
                const formData = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: window.server_conf.items_list.add.apiUrl,
                    data: formData,
                    success: function (response) {
                        if (response) {
                            const editAction = window.managers.itemsListTable.actionsData.default.find(function (action) {
                                return action.name === "edit";
                            });
                            if (!editAction) {
                                return;
                            }
                            window.location.href = window.location.href = window.managers.urlFormatter.formatNotReadyUrl(editAction.url, response);
                        }
                    },
                    error: function (xhr) {
                    },
                });
            });

        });
    </script>
{% endblock %}