{% extends "lms/dashboard/pages/items/items-list.html" %}

{% block javascript %}
    <script>
        window.server_conf.items_list = {
            tableId: "{{ table.table_id }}",
        }
    </script>
    {% include 'lms/dashboard/includes/items-list/scripts.html' %}
    <script>
        $(document).ready(function () {
            window.managers.itemsListTable = new ItemListTable();
            window.managers.itemsListTable.init();
            $('.add-new-item-btn').click(function () {
                window.location.href = $(this).data('url');
            });
            $(document).on("click", ".open-question-groups-action-btn", function () {
                const tr_el = $(this).closest("tr");
                const record_data = window.managers.itemsListTable.tableDatatable.row(tr_el).data();
                const action = window.managers.itemsListTable.actionsData.extra.find(function (action) {
                    return action.name === "open-question-groups";
                });
                if (!action) {
                    return;
                }
                window.location.href = action.url + `?quiz_id=${record_data.id}`;

            });
        });
    </script>
{% endblock %}